


header {
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}

/* nav styles */



.nav-container {

    margin: 0 150px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
}

.nav-title {
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
    margin: 0;


}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;



}


/* .container {
 
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
   align-items: center; 
    */




/* shared elements */

.text-primary {
    color: #FFFFFF;
}


.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}


/* banner section */

.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.banner-container{
    text-align: center;
    margin: 158px 267px;
    border: none;
}



/* Action style */

.action-container{
    display:flex ;
    justify-content: space-between;
    margin: 116px 159px  116px 141px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;
}
.action-container img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
   
}
.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}

  /* User style */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.user-title{
    text-align: center;
    margin-bottom: 40px;

font-weight: bold;
font-size: 38px;

}

.user-data{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.data h2{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}

.user-container{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
   

    padding:50px 80px;
    margin: 116px 159px 137px 141px;
}
